
// for responsive stuff use as it follows

// @include respond-min($bp-narrow) {
//  }
// @include respond-min($bp-mid) {
//  }
// @include respond-min($bp-wide) {
//  }
// @include respond-min($bp-huge) {
//  }

// $bp-narrow            : 400;  // Set in px
// $bp-mid               : 768;  // Set in px
// $bp-wide              : 992;  // Set in px
// $bp-huge              : 1600; // Set in px

// contacto 

iframe {
	border:none;
	width:100%;
	display:block;
	height:100vh;
}
 
// sala K logos 

.salak-logos {
	display: inline-block;

		width:100px;

}

.logo-small {
	width:100px;
}


/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 2px solid white;
    cursor: pointer;
    margin: 20%;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    // text-align: center;
    // width: 100%;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-container {
	width:100%;
	text-align:center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show { display:block; }




/// footer
 
// footer {

// 	// UNCOMENT THIS TO MAKE THE FOOTER VISIBLE
// 	display:none;

// 	text-align: center;
// 	width: 100%;
// 	overflow:visible;
// 	position:relative;

// }

body, html {
	margin: 0;
	// overflow: hidden;
	transition: opacity 400ms;
	width:100%;
	background-color:#000;

}

#mainContent {
	display: flex; /* or inline-flex */
	flex-direction: row ;
}

.central-container {

	height: 100%;
	width:60vw;
	// background:#999;
	margin-left:20vw;
	padding: 10px;

}

.left-container {
	height: 100%;
	width:20vw;
	// background:#666;
	position:fixed;
	padding: 10px;
	display: flex;
    flex-direction: column;

}

.right-container {
	height: 100vh;
	width:20vw;
	// background:#333;
	// position:fixed;
	padding: 10px;
}

.bg-picture {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:-1;
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

/// header 



.logo-header {
	width: 100%;
	margin: 0 auto;
}
.menu-btn {
	display:block;
	cursor: pointer;
}

.site-menu {
	flex-grow:2;
}

address {

}

// for mutilang support
// .menu-lang { 

// 	position:fixed;
// 	top:24px;
// 	right:20px;
// 	border-radius: 2px;
// 	transition: all 700ms ease-in-out;

// 	&:before { 

// 		border: 1px $color-primary solid;
// 	}
// }


// .lang-btn {

// 	font-size: .8em;
// 	color:$color-secondary;
// 	cursor:pointer;
// 	padding:8px;

// 	display: inline-block;
// 	transition: all 300ms ease-in-out;
// 	max-width:50px;

// 	&.active {
// 		color:$color-primary;
// 		border: 1px $color-primary solid;

// 	}
// 	&:hover {
// 		color:$color-secondary;
// 	}
// }

// .data-translatable { 
// 	display:none;
// }


/// loader 

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  top:50%;
 }
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: black;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  transform-origin: 5.2em 5.1em;
  animation: load2 2s infinite ease 1.5s;
}
.loader {

  color: $color-highlight;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  transform: translateZ(0)translateY(-100%);

}

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: $color-primary;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  transform-origin: 0px 5.1em;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(360deg);
  }
}


.curtain { 

	background-color: $color-primary;
	width:100%;
	position:absolute;
	height:100%;
	z-index:1000;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:1;
	transition:none;
}

// helpers 


.is-hidden { 

	display: none;
	opacity:0;
}

.is-fading-out { 

	transition: all 700ms ease-out;
	opacity:0;
}
.is-fading-in { 

	animation: animFadeIn 700ms ease-out;
	animation-fill-mode: forwards;
	backface-visibility: hidden;
}

/*   fade in */
@keyframes animFadeIn {
	0%   {opacity:0;  }
	100% {opacity:1; }
}

/*   fade in */
@keyframes animFadeOut {
	0%   {opacity:1;  }
	100% {opacity:0; }
}


@keyframes fadeOut {
	from {opacity:1;}
	to {opacity:0;
	}
}

@keyframes fadeIn {
	from {opacity:0;}
	to {opacity:1;
	}
}
